$high-font-color: #eaedf0;
$low-font-color: #333;
$bg-low: #dde2e9;
$bg-high: #f1f0f0;
$brand-color: #2f3676;
$brand-color-low: #485091;
$disabled-color: #bdbdbd;
$pure-white: #fff;
$error: #cf2e2e;
$default-transition: all 500ms ease;
